@model HBRTEST.Domain.UserEntity
@{
    ViewBag.Title = "Editar perfil";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

<style type="text/css">

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center"><h3>Editar perfil</h3></div>
                <div class="card-body">
                    <form id="UpdateProfileForm">
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.HiddenFor(user => user.UserId, new { value = Model.UserId })
                                <label for="FirstName">Nombre:</label>
                                @Html.TextBoxFor(user => user.FirstName, new { value = Model.FirstName, @class = "form-control", placeholder = "Escribe tu nombre" })
                                <div id="errorMessageFirstName" class="text-danger d-none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="LastName">Apellido:</label>
                                @Html.TextBoxFor(user => user.LastName, new { value = Model.LastName, @class = "form-control", placeholder = "Escribe tu apellido" })
                                <div id="errorMessageLastName" class="text-danger d-none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="CellPhone">Teléfono:</label>
                                @Html.TextBoxFor(user => user.CellPhone, new { value = Model.CellPhone, @class = "form-control", placeholder = "Escribe tu teléfono", @type = "number" })
                                <div id="errorMessageCellPhone" class="text-danger d-none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Genre">Género:</label>
                                <select class="form-control" id="Genre" name="Genre">
                                    <option disabled value="">Selecciona tu género</option>
                                    @if (Model.Genre.Equals("F"))
                                    {
                                        <option value="F" selected>F</option>
                                    }
                                    else
                                    {
                                        <option value="M" selected>M</option>
                                    }

                                </select>
                                <div id="errorMessageGenre" class="text-danger d-none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Email">Correo electrónico:</label>
                                @Html.TextBoxFor(user => user.Email, new { value = Model.Email, @class = "form-control", placeholder = "Escribe tu correo electrónico", @type = "email" })
                                <div id="errorMessageEmail" class="text-danger d-none"></div>
                            </div>

                            <div class="form-group col-md-4">
                                <p>Nombre de usuario:</p>
                                <p><b>@Model.UserName</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Password">Contraseña:</label>
                                @Html.PasswordFor(user => user.Password, new { @class = "form-control", placeholder = "Escribe tu contraseña" })
                                <div id="errorMessagePassword" class="text-danger d-none"></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Estado: </label>
                                <div class="form-check">

                                    <input type="checkbox" id="Status" name="Status" value="Activo" checked />
                                    <label for="Status">Activo</label>
                                    @if (Model.Status == "Activo")
                                    {
                                        <script>
                                            $("#Status").attr("checked", true);
                                        </script>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success" id="UpdateUser">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



<script src="~/Scripts/Views/Users/UserActions.js"></script>
<script src="~/Scripts/Views/Users/UsersFormValidations.js"></script>
<script src="~/Scripts/Views/Users/UpdateUser.js"></script>