<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3d05e5b342.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <a class="navbar-brand" href="/Categories/CategoryHome">HBRTEST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    @Html.ActionLink("Administrar categorías", "CategoryHome", "Categories", null, new { @class="nav-link"})
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Administrar productos", "ProductsHome", "Products", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Editar perfil", "UpdateProfile", "Users", null, new { @class="nav-link"})
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Salir", "SignIn", "Users", null, new { @class="nav-link"})
                </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
